.searchBox {
  height: 32px;
  margin-right: 30px;
  border: 1px solid var(--color-button);
  border-radius: 6px;
  display: flex;
  align-items: center;
  @media all and (max-width: 620px) {
    margin-right: 12px;
  }

  &:hover,
  &:focus {
    cursor: auto;
    border: 1px solid var(--color-button-hover);
  }

  &__icon {
    margin: 0 8px 0 6px;
    color: var(--color-button);
    font-size: 14px;
  }
  &__textArea {
    width: 100%;
    border: none;
    outline: none;
    @media all and (max-width: 510px) {
      width: 75px;
    }
    @media all and (max-width: 423px) {
      width: 100px;
    }
    @media all and (max-width: 290px) {
      width: 55px;
    }
  }
}

.cancelButton {
  margin: 0 6px;
  padding: 2px 5px;
  background-color: var(--color-button);
  border: none;
  border-radius: 6px;
  outline: none;
  color: var(--color-font-button);
  font-size: 12px;

  &:hover {
    cursor: pointer;
    color: var(--color-button);
    background-color: var(--color-button-hover);
  }
  &:active {
    cursor: pointer;
    color: var(--color-font-button);
    background-color: var(--color-button-active);
  }
}
