.searchBox {
  height: 32px;
  background-color: var(--color-bg-main);
  border: 1px solid var(--color-button);
  border-radius: 6px;
  z-index: 10;
  display: flex;
  align-items: center;
  position: fixed;
  top: 32px;
  right: 96px;
  &:hover {
    cursor: auto;
    border: 1px solid var(--color-button-hover);
  }
  &__icon {
    margin: 0 8px 0 6px;
    color: var(--color-button);
    font-size: 14px;
  }
  &__textArea {
    width: 140px;
    background-color: var(--color-bg-main);
    border: none;
    &:focus {
      outline: none;
    }
  }
}
.cancelButton {
  margin: 0 6px;
  padding: 3px 6px;
  background-color: var(--color-button);
  border: none;
  border-radius: 6px;
  outline: none;
  color: var(--color-font-button);
  &:hover {
    cursor: pointer;
    background-color: var(--color-button-hover);
  }
  &__icon {
    font-size: 14px;
  }
}
